#screen-presentation {
	background: url('../images/experiment/pc.png');
	width: 1110px;
	height: 620px;
	position: relative;
	box-sizing: content-box;
	margin: 0 auto;
}

#screen-presentation img#presentationImage {
	padding: 7.477477477% 0 0 14.684684684%;
	z-index: 100;
	width: 70.6306306%;
	height: 71.1290322%;
	box-sizing: content-box;
}

#screen-presentation img#mouse {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
	box-sizing: content-box;
}

@media (min-width: 992px) and (max-width: 1200px) {
	#screen-presentation {
		width: 940px;
		height: 525.0450451px;
		background-size: 940px 525.0450451px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#screen-presentation {
		width: 720px;
		height: 402.1621622px;
		background-size: 720px 402.1621622px;
	}
}

@media (min-width: 500px) and (max-width: 767px) {
	#screen-presentation {
		width: 500px;
		height: 279.2792793px;
		background-size: 500px 279.2792793px;
	}
}

@media (max-width: 499px) {
	#screen-presentation {
		width: 250px;
		height: 139.6396397px;
		background-size: 250px 139.6396397px;
	}
}