.imgBorder{
    width: 30px;
    height: 100%;
    display: block;
    float: left;
}
.imgBorder:hover{
    cursor: pointer;
    background: #ffcf70;
}

.imgFB{
    background: url('../images/sprite.png') -1px -1px;
	width: 7px;
	height: 13px;
    display: block;
    margin: 7px 12px;
}
.imgG{
    background: url('../images/sprite.png') no-repeat -9px -1px;
	width: 17px;
	height: 10px;
    display: block;
    margin: 9px 7px;
}
.imgTwitter{
    background: url('../images/sprite.png') no-repeat -27px -1px;
	width: 9px;
	height: 12px;
    display: block;
    margin: 8px 10px;
}
.imgSearch{
    background: url('../images/sprite.png') no-repeat -38px -1px;
	width: 16px;
	height: 17px;
    top: 10px;
    right: 40px;
    display: block;
    position: absolute;
    z-index: 1;
	border: 0px;
	color: transparent;
    cursor: pointer;
}
.buttonHover{
    background-color: #ffc95c;
}
.imgShare{
    background: url('../images/sprite.png') no-repeat -55px 0px;
	width: 16px;
	height: 16px;
    display: inline-block;
    margin: 5.5px 5px;
}
.imgInfo{
    background: url('../images/sprite.png') no-repeat -119px -1px;
	width: 16px;
	height: 4px;
    display: inline-block;
    margin: 12px 6px;
}
@media (min-width: 650px) {
    .imgInfo{
        display: none;
    }
}
body{
    width: 100%;
    height: 100%;
    min-height: 500px;
    min-width: 400px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #ffffff;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
}
strong{
    font-weight: 100;
}

    #columnSearch{
        width: 60%;
        height: 100%;
        float: left;
    }
@media (max-width: 1080px) {
    #columnSearch{
        width: 100%;
    }
}
        #columnSearch
        .containerForm{
            width: 100%;
            height: 110px;
            display: block;
            background-color: #ffbb33;
            font-weight: medium;
        }
                
            #columnSearch
            .containerForm
            .firstRow{
                height: 30%;
                display: block;
            }
                #columnSearch
                .containerForm
                .firstRow
                .company{
                    display: inline-block;
                    float: left;
                    margin: 0px 15px;
                    width: 70%;
                    height: 100%;
                }
                #columnSearch
                .containerForm
                .firstRow
                .company
                .concertian_logo{
                    background: url('../images/sprite.png') no-repeat -137px -1px;
                    width: 159px;
                    height: 18px;
                    margin-top: 4px;
                }
                #columnSearch
                .containerForm
                .firstRow
                .tellContainer{
                    height: 27px;
                    float: right;
                }
            #columnSearch
            .containerForm
            .secondRow{
                height: 35%;
                display: block;
            }
                
                #columnSearch
                .containerForm
                .secondRow
                .textButton{
                    float: left;
                    width: 33.2%;
                    height: 100%;
                    text-align: center;
                }
                #columnSearch
                .containerForm
                .secondRow
                .textButton:hover{
                    cursor: pointer;
                }
                #columnSearch
                .containerForm
                .secondRow
                .border_right{
                    border-right: 2px solid #ffc95c;    
                }
                    #columnSearch
                    .containerForm
                    .secondRow
                    .text{
                        font-size: 1.2em;
                        margin: 12px 0px;
                        display: block;
                    }
                    #columnSearch
                    .containerForm
                    .secondRow
                    .textButton
                    .borderRight{
                        height: 70%;
                        border-right:  1px solid #ffc95c;
                    }
            
            #columnSearch
            .thirdsRow{
                height: 35%;
                display: block;
                position: relative;
                background: #ffc95c;
            }
                
                #columnSearch
                .thirdsRow
                form{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
                #columnSearch
                .thirdsRow
                input[type="text"]{
                    /* Firefox */
                    width: -moz-calc(100% - 66px);
                    /* WebKit */
                    width: -webkit-calc(100% - 66px);
                    /* Opera */
                    width: -o-calc(100% - 66px);
                    /* Standard */
                    width: calc(100% - 66px);
                    height: 100%;
                    margin: 0px;
                    padding: 0px 33px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: #ffffff;
                    font-weight: 100;
                    font-size: 1.55em; 
                    text-align: center;
                }
                #columnSearch
                .thirdsRow
                input[type="text"]:focus{
                    outline: none;
                }
            div#columnSearch ::-webkit-input-placeholder {
               color: #fff;
               line-height: 1.7em;
               font-size: 0.8em;
            }

            div#columnSearch :-moz-placeholder { /* Firefox 18- */
               color: #fff;
               line-height: 1.7em;
               font-size: 0.8em;
            }

            div#columnSearch :-moz-placeholder {  /* Firefox 19+ */
               color: #fff;
               line-height: 1.7em;
               font-size: 0.8em;
            }

            div#columnSearch :-ms-input-placeholder {  
               color: #fff;
               line-height: 1.7em;
               font-size: 0.8em;
            }
        #columnSearch
        .containerResult{
            display: block;
            width: 100%;
            /* Firefox */
            height: -moz-calc(100% - 110px);
            /* WebKit */
            height: -webkit-calc(100% - 110px);
            /* Opera */
            height: -o-calc(100% - 110px);
            /* Standard */
            height: calc(100% - 110px);
            box-sizing: border-box;
            padding-top: 7px;
        }
/*------------- Category List -------------*/    
.category_card{
    display: inline-block;
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 240px;
    background: #fff;
    text-align: center;
    margin-top: 2%;
}
@media (max-width: 650px) {
    .category_card{
        width: 100%;
    }
}
.categoryImg{
    position: relative;
    display: inline-block;
    width: 350px;
    height: 180px;
    border-radius: 4px;
    background: #ffbb33;
}
.categoryImg:hover{
    cursor: pointer;
}
.category_img{
    position: absolute;
    display: block;
    width: 350px;
    height: 180px;
	border-radius: 4px;
}
.categoryCounter{
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #ffc95c;
    box-sizing: border-box;
    padding: 10px 0;
    bottom: -30px;
    right: 20px;
}
.counter_number{
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.5em;
}
.counter_text{
    display: block;
    font-size: 0.75em;
}
.categoryHeader{
    position: absolute;
    display: block;
    width: auto;
    padding: 0 20px;
    height: 30px;
    border-radius: 4px;
    background: #ffc95c;
    right: -10px;
    top: -10px;
}
.city_text{
    text-align: left;
    font-size: 1.1em;
    line-height: 30px;
}     
/*---------- Landign ----------*/
#landing_banner{
    display: block;
    width: 99%;
    margin-left: 0.5%;
    height: 80px;
    background: #FFD685;
    border-radius: 4px;
    margin-bottom: 7px;
}
#close{
    position: relative;
    display: inline-block;
    float: right;
    width: 15px;
    height: 15px;
    margin-top: 6px;
    margin-right: 4px;
    border-radius: 30px;
    background: #fff;
}
#close:hover{
    background: #ffbb33 !important;   
}
.imgClose{
    display: block;
    background: url('../images/sprite.png') no-repeat -1px -18px;
	width: 7px;
	height: 9px;
    margin: 3px 4px;
}
@media (max-width: 650px) {
    #close{
        display: none !important;
    }
    .imgClose{
        display: none;
    }
}
.thick{
    display: inline-block;
    float: left;
    width: 10%;
    height: 100%;
}
.thick_mark{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: #fff;
    margin-top: 19px;
    margin-left: 24%;
}
.imgThick{
    display: block;
    background: url('../images/sprite.png') no-repeat -298px -1px;
	width: 23px;
	height: 23px;
    margin: 9px 9px;
}
@media (max-width: 650px) {
    .thick{
        display: none;
    }
}
.header_text{
    position: relative;
    display: inline-block;
    float: left;
    width: 60%;
    height: 75%;
    text-align: center;
    font-size: 1.3em;
    font-weight: 100;
    padding-top: 19px;
}
@media (max-width: 650px) {
    .header_text{
        width: 70%;
        height: 72%;
        padding-top: 22px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1em;
    }
}
@media (max-width: 550px) {
    .header_text{
        font-size: 0.9em;
    }
}
.tryit_button{
    display: inline-block;
    float: left;
    width: 27%;
    height: 100%;
}
.tryIt{
    display: inline-block;
    position: relative;
    width: 70%;
    height: 30px;
    top: 26px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffbb33;
    color: #fff;
    font-size: 1em !important;
}
@media (max-width: 650px) {
    .tryit_button{
        width: 24%;
    }
    .tryIt{
        font-size: 0.8em !important; 
    }
}
/* ---------  Search list ---------*/
        #results_list{
            position: relative;
            z-index: 1;
            display: block;
            /* Firefox */
            height: -moz-calc(100% - 87px);
            /* WebKit */
            height: -webkit-calc(100% - 87px);
            /* Opera */
            height: -o-calc(100% - 87px);
            /* Standard */
            height: calc(100% - 87px);
            overflow-y: scroll;
        }
            #columnSearch
            #results_list
            .resultElement{
                display: block;
                height: 70px;
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;
            }
            @media (max-width: 550px) {
                .resultElement{
                    
                }
            }
            #columnSearch
            #results_list
            .resultElement:hover{
                border-top: 1px solid #eeeeee;
                border-bottom: 1px solid #eeeeee;
            }
                #columnSearch
                #results_list
                .resultElement
                .resultImage{
                    float: left;
                    width: 40px;
                    height: 40px;
                    margin: 12px 15px;
                    border-radius: 33px;
                    border: 2px solid #ffc95c;
                    cursor: pointer;
                }
                #columnSearch
                #results_list
                .resultElement
                .resultImage:hover,
                .resultImage:active{
                    background: url('../images/sprite.png') no-repeat -74px -3px;
                    width: 40px;
                    height: 40px;
                }
                #columnSearch
                #results_list
                .resultElement
                .resultImage
                .image{
                	float: left;
                    width: 40px;
                    height: 40px;
                    border-radius: 33px;
                    color: transparent;
                }
                #columnSearch
                #results_list
                .resultElement
                .resultImage:hover
                .image{
                	display: none;
                }
                #columnSearch
                #results_list
                .resultElement
                .resultTextContainer{
                    float: left;
                    width: 50%;
                    min-width: 120px;
                    margin-top: 15px;
                    padding-left: 15px;
                }
                @media (max-width: 650px) {
                    .resultTextContainer{
                        width: 40% !important;
                    }
                }
                    #columnSearch
                    #results_list
                    .resultElement
                    .resultTextContainer
                    .resultTextFirst{
                        display: block;
                        text-align: left;
                        font-size: 1.45em;
                        color: #4e5f6f;
                    }
                @media (max-width: 650px) {
                    .resultTextFirst{
                        font-size: 1.3em !important;
                        line-height: 1.6em !important;
                        overflow: hidden;
                        white-space: nowrap;
                        clear: both;
                        overflow: hidden !important;
                    }
                }

                    #columnSearch
                    #results_list
                    .resultElement
                    .resultTextContainer
                    .resultTextSecond{
                        text-align: left;
                        font-weight: 100;
                        line-height: 1em !important;
                        overflow: hidden;
                        white-space: nowrap;
                        clear: both;
                        color: #8998a5;
                    }
                        #columnSearch
                        #results_list
                        .resultElement
                        .resultTextContainer
                        .resultTextSecond
                        .city{
                            display: inline-block;
                            text-align: left;
                            padding-right: 5px;
                            border-right: 2px solid #f5f5f5;
                            font-size: 1em;
                            font-weight: 100;
                            color: #8998a5;
                        }
                        @media (max-width: 650px) {
                            .city{
                                font-size: 0.85em !important;
                            }
                        }
                        #columnSearch
                        #results_list
                        .resultElement
                        .resultTextContainer
                        .resultTextSecond
                        .venueName{
                            display: inline-block;
                            text-align: left;
                            padding-left: 5px;
                            font-size: 1em;
                            font-weight: 400;
                            color: #8998a5;
                        }
                        @media (max-width: 650px) {
                            .venueName{
                                font-size: 0.9em !important;
                            }
                        }
                #columnSearch
                #results_list
                .resultElement
                .resultTextContainer_datetime{
                    float: left;
                    width: 20%;
                    margin-top: 15px;
                    padding-left: 15px;
                }
                @media (max-width: 650px) {
                    .resultTextContainer_datetime{
                        min-width: 80px;
                        padding-left: 10px !important;
                        margin-left: 1%;
                    }
                }
                @media (max-width: 550px) {
                    .resultTextContainer_datetime{
                        display: none !important;
                    }
                }
                    #columnSearch
                    #results_list
                    .resultElement
                    .resultTextContainer_datetime
                    .resultTextFirst{
                        display: block;
                        text-align: left;
                        font-size: 17px;
                        color: #4e5f6f;
                    }
                    #columnSearch
                    #results_list
                    .resultElement
                    .resultTextContainer_datetime
                    .date_formated{
                        display: block;
                        text-align: left;
                        font-size: 17px;
                        color: #4e5f6f;
                    }
                    #columnSearch
                    #results_list
                    .resultElement
                    .resultTextContainer_datetime
                    .resultTextSecond{
                        text-align: left;
                        font-size: 15px;
                        color: #8998a5;
                    }
                    #columnSearch
                    #results_list
                    .resultElement
                    .resultBorder{
                        border-left: 3px solid #ffc95c;
                    }
                    #columnSearch
                    #results_list
                    .resultElement
                    .resultShareButton{
                        display: inline-block;
                        float: left;
                        width: 29px;
                        height: 29px;
                        margin: 20px 0;
                        border-radius: 33px;
                        background-color: #ffc95c;
                    }
                    #columnSearch
                    #results_list
                    .resultElement
                    .resultShareButton:hover{
                        cursor: pointer;
                        transform: scale(1.1, 1.1);
                        -ms-transform: scale(1.1, 1.1);
                        -webkit-transform: scale(1.1, 1.1);
                    }
                @media (max-width: 650px) {
                    .resultShareButton{
                        margin-left: 5% !important;
                    }
                    #columnSearch
                    #results_list
                    .resultElement
                    .resultInfoButton{
                        display: inline-block;
                        width: 28px;
                        height: 28px;
                        margin: 20px 0;
                        margin-left: 2%;
                        border-radius: 33px;
                    }
                    #columnSearch
                    #results_list
                    .resultElement
                    .resultInfoButton:hover{
                        border-radius: 1px solid #ffc95c;
                        cursor: pointer;
                        transform: scale(1.1, 1.1);
                        -ms-transform: scale(1.1, 1.1);
                        -webkit-transform: scale(1.1, 1.1);
                    }
                }
                @media (max-width: 550px) {
                    .resultShareButton{
                        margin-left: 15% !important;
                    }
                }
    #columnMap{
        width: 40%;
        height: 100%;
        float: left;
    }
    @media (max-width: 1080px) {
    #columnMap{
        display: none;
    }
}
    
        #columnMap
        .countOwerMap{
            display: block;
            height: 27px;
            background-color: #ffbb33;
            text-align: center;
        }
        
            #columnMap
            .countOwerMap
            .slim{
                padding-top: 2px;
                font-size: 16px;
                display: block;
            }
                #columnMap
                .countOwerMap
                .bold{
                    font-size: 14px;
                }
        
        #columnMap
        #map{
            width: 100%;
            /* Firefox */
            height: -moz-(100% - 27px);
            /* WebKit */
            height: -webkit-calc(100% - 27px);
            /* Opera */
            height: -o-calc(100% - 27px);
            /* Standard */
            height: calc(100% - 27px);
            min-height: 475px;
            display: block;
        }
.banner_text{
    position: absolute;
    bottom: 12px;
    right: 180px;
    width: 130px;
    height: 38px;
    background: #ffbb33;
    border-radius: 4px;
    text-align: center;
    font-size: 1em !important;
    font-weight: 100;
    padding-top: 4px;
}
.google_badge{
    position: absolute;
    background-size: cover;
    width: 160px;
    height: auto;
    bottom: 6px;
    right: 8px;
}
.google{
    width: 160px;
    height: auto;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #ffbb33;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* -------------- Event details Smartphone -------------- */
#results_list_sm{
    position: absolute;
    z-index: 100;
    top: 150px;
    width: 100%;
    height: 65%;
    background: #fff;
    border-bottom: 2px solid #f5f5f5;
    display: none;
}
.overlay{
    width: 100%;
    height: 100%;
    -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
.top{
    display: block;
    width: 100%;
    height: 80px;
    background: #ffbb33;
}
.body{
    display: block;
    width: 100%;
    height: -moz-calc(100% - 80px);
    /* WebKit */
    height: -webkit-calc(100% - 80px);
    /* Opera */
    height: -o-calc(100% - 80px);
    /* Standard */
    height: calc(100% - 80px);
    text-align: center;
}
.header_img{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 90px;
    margin-top: 30px;
    margin-left: 5%;
    border: 4px solid #ffc95c;
}
.top_text{
    display: inline-block;
    width: 60%;
    height: 60px;    
}
.header_name{
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 1.3em;
    line-height: 2.6em;
}
.header_city{
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 100;
    margin-bottom: 48px;
}
#close_details{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
    top: 5px;
    right: 5px;
    box-sizing: border-box;
    padding: 6px 6px;
}
.detail_close{
    position: relative;
    display: block;
    background: url('../images/sprite.png') no-repeat -1px -18px;
	width: 7px;
	height: 9px;
}
.img{
    width: 80px;
    height: 80px;
    border-radius: 90px;
}
.details_list{
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    padding-top: 15%;
}
.eventName{
    display: block;
    box-sizing: border-box;
    padding: 0 40px;
    color: #ffbb33;
    font-size: 1.4em;
    margin-top: 20px;
}
.eventDate{
    display: block;
    color: #ffbb33;
    font-size: 3em;
}
.eventTime{
    display: block;
    color: #ffbb33;
    font-size: 3em;
    font-weight: 100;
}
.detail_cta_buttons{
    display: block;
    height: 14%;
    padding: 0 10px;
}
.detail_cta_buttons span{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin: 0 40px;
    background: #ffc95c;
}
.imgMessage{
    display: block;
    background: url('../images/sprite.png') no-repeat -336px -1px;
	width: 20px;
	height: 12px;
    margin: 15px 11px;
}
.imgAdress{
    display: block;
    background: url('../images/sprite.png') no-repeat -323px -1px;
	width: 11px;
	height: 15px;
    margin: 12px 15px;
}
.imgSocial{
    display: block;
    background: url('../images/sprite.png') no-repeat -56px -1px;
	width: 15px;
	height: 15px;
    margin: 12px 12px;
}
/* ------------ Autocomplete ------------ */
/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	position: absolute;
}
.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0; /* support: IE7 */
	/* support: IE10, see #8844 */
	list-style-image: none;
}
.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: -1px;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item {
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .2em;
	margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	left: auto;
	right: 0;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border-bottom: 2px solid #f5f5f5;
	background: #fff;
	color: #8998a5s;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #e78f08;
	background: #f6a828;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: #fff;
	font-weight: bold;
	color: #fff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #fff;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #ffc95c;
	font-weight: bold;
	color: #fff;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #fff;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: none;
	background: #ffc95c;
	font-weight: bold;
	color: #fff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #fff;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: none;
	background: #ffc95c;
	color: #fff;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #fff;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #b81900;
	color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}