.imgBorder{
    width: 30px;
    height: 100%;
    display: block;
    float: left;
}
.imgBorder:hover{
    cursor: pointer;
    background: #ffcf70;
}

.imgFB{
    background: url('../images/sprite.png') -1px -1px;
	width: 7px;
	height: 13px;
    display: block;
    margin: 7px 12px;
}
.imgG{
    background: url('../images/sprite.png') no-repeat -9px -1px;
	width: 17px;
	height: 10px;
    display: block;
    margin: 9px 7px;
}
.imgTwitter{
    background: url('../images/sprite.png') no-repeat -27px -1px;
	width: 9px;
	height: 12px;
    display: block;
    margin: 8px 10px;
}
.imgSearch{
    background: url('../images/sprite.png') no-repeat -38px -1px;
	width: 16px;
	height: 17px;
    top: 10px;
    right: 40px;
    display: block;
    position: absolute;
    z-index: 1;
	border: 0px;
	color: transparent;
    cursor: pointer;
}
.buttonHover{
    background-color: #ffc95c;
}
body{
    width: 100%;
    height: 100%;
    min-height: 500px;
	min-width: 300px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: #ffffff;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    overflow: hidden;
}
body a{
	text-decoration: none !important;
}
strong{
    font-weight: 600;
}

    #columnSearch{
        width: 60%;
        height: 100%;
        float: left;
    }
        #columnSearch
        .containerForm{
            width: 100%;
            height: 110px;
            display: block;
            background-color: #ffbb33;
            font-weight: medium;
        }
                
            #columnSearch
            .containerForm
            .firstRow{
                height: 30%;
                display: block;
            }
                #columnSearch
                .containerForm
                .firstRow
                .company{
                    display: inline-block;
                    float: left;
                    margin: 0px 15px;
                    width: 60%;
                    height: 100%;
                }
                #columnSearch
                .containerForm
                .firstRow
                .company
                .concertian_logo{
                    background: url('../images/sprite.png') no-repeat -137px -1px;
                    width: 159px;
                    height: 18px;
                    margin-top: 4px;
                }
				#columnSearch
                .containerForm
                .firstRow
				.language_selector{
					display: inline-block;
					width: 10%;
					height: 100%;
					text-align: center;
					box-sizing: border-box;
					padding-top: 5px;
					font-size: 1em;
					font-weight: 400;
					cursor: pointer;
				}
				#columnSearch
                .containerForm
                .firstRow
				.language_selector: hover{
					background: #ffc95c;
				}
				#columnSearch
                .containerForm
                .firstRow
				.language_selector
				.languagemenu{
					position: relative;
					z-index: 100;
					display: none;
					width: 30px;
					height: 60px;
					left: 25%;
					background: #ffc95c;
					padding: 10px 2px;
					text-align: center;
					cursor: auto;
					list-style: none;
				}
				#columnSearch
                .containerForm
                .firstRow
				.language_selector
				.languagemenu li a{
					position: relative;
					font-size: 1.2em;
					color: #fff !important;
					cursor: pointer;
				}
                #columnSearch
                .containerForm
                .firstRow
                .tellContainer{
                    height: 27px;
                    float: right;
                }
            #columnSearch
            .containerForm
            .secondRow{
                height: 35%;
                display: block;
            }
                
                #columnSearch
                .containerForm
                .secondRow
                .textButton{
                    float: left;
                    width: 33.2%;
                    height: 100%;
                    text-align: center;
                }
                #columnSearch
                .containerForm
                .secondRow
                .textButton:hover{
                    cursor: pointer;
                }
                #columnSearch
                .containerForm
                .secondRow
                .border_right{
                    border-right: 2px solid #ffc95c;    
                }
                    #columnSearch
                    .containerForm
                    .secondRow
                    .text{
                        font-size: 1.2em;
                        margin: 12px 0px;
                        display: block;
                    }
                    #columnSearch
                    .containerForm
                    .secondRow
                    .textButton
                    .borderRight{
                        height: 70%;
                        border-right:  1px solid #ffc95c;
                    }
            
            #columnSearch
            .thirdsRow{
                height: 35%;
                display: block;
                position: relative;
                background: #ffbb33;
				visibility: hidden;
            }
            #columnSearch
			.thirdsRow
			#backButton{
				display: block;
				position: absolute;
				z-index: 2;
				cursor: pointer;
				background: url('../images/sprite.png') no-repeat -38px -23px;
				width: 19px;
				height: 14px;
				top: 13px;
				left: 5%;	
			}
                #columnSearch
                .thirdsRow
                form{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
                #columnSearch
                .thirdsRow
                input[type="text"]{
                    /* Firefox */
                    width: -moz-calc(100% - 66px);
                    /* WebKit */
                    width: -webkit-calc(100% - 66px);
                    /* Opera */
                    width: -o-calc(100% - 66px);
                    /* Standard */
                    width: calc(100% - 66px);
                    height: 100%;
                    margin: 0px;
                    padding: 0px 33px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    color: #ffffff;
                    font-weight: 100;
                    font-size: 1.55em; 
                    text-align: center;
                }
                #columnSearch
                .thirdsRow
                input[type="text"]:focus{
                    outline: none;
                }
            div#columnSearch ::-webkit-input-placeholder {
               color: #fff;
               line-height: 1.7em;
               font-size: 0.8em;
            }

            div#columnSearch :-moz-placeholder { /* Firefox 18- */
               color: #fff;
               line-height: 1.7em;
               font-size: 0.8em;
            }

            div#columnSearch :-moz-placeholder {  /* Firefox 19+ */
               color: #fff;
               line-height: 1.7em;
               font-size: 0.8em;
            }

            div#columnSearch :-ms-input-placeholder {  
               color: #fff;
               line-height: 1.7em;
               font-size: 0.8em;
            }
        #columnSearch
        .containerResult{
			position: relative;
            display: block;
            width: 100%;
            /* Firefox */
            height: -moz-calc(100% - 110px);
            /* WebKit */
            height: -webkit-calc(100% - 110px);
            /* Opera */
            height: -o-calc(100% - 110px);
            /* Standard */
            height: calc(100% - 110px);
            box-sizing: border-box;
            padding-top: 7px;
        }
/*------------- Category List -------------*/    
.category_card{
    display: inline-block;
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 240px;
    background: #fff;
    text-align: center;
    margin-top: 2%;
}
.categoryImg{
    position: relative;
    display: inline-block;
    width: 350px;
    height: 180px;
    border-radius: 4px;
    background: #ffbb33;
}
.categoryImg:hover{
    cursor: pointer;
}
.category_img{
    position: absolute;
    display: block;
    width: 350px;
    height: 180px;
	border-radius: 4px;
}
.categoryCounter{
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background: #ffc95c;
    box-sizing: border-box;
    padding: 10px 0;
    bottom: -30px;
    right: 20px;
}
.counter_number{
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.5em;
}
.counter_text{
    display: block;
    font-size: 0.75em;
}
.categoryHeader{
    position: absolute;
    display: block;
    width: auto;
    padding: 0 20px;
    height: 30px;
    border-radius: 4px;
    background: #ffc95c;
    right: -10px;
    top: -10px;
}
.city_text{
    text-align: left;
    font-size: 1.1em;
    line-height: 30px;
}     
/*---------- Landign ----------*/
#landing_banner{
    display: block;
    width: 99%;
    margin-left: 0.5%;
    height: 80px;
    background: #ffc95c;
    border-radius: 4px;
    margin-bottom: 7px;
}
#close{
    position: relative;
    display: inline-block;
    float: right;
    width: 15px;
    height: 15px;
    margin-top: 6px;
    margin-right: 4px;
    border-radius: 30px;
    background: #fff;
}
#close:hover{
    background: #ffbb33 !important;   
}
.imgClose{
    display: block;
    background: url('../images/sprite.png') no-repeat -1px -18px;
	width: 7px;
	height: 9px;
    margin: 3px 4px;
}
.thick{
    display: inline-block;
    float: left;
    width: 10%;
    height: 100%;
}
.thick_mark{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: #fff;
    margin-top: 19px;
    margin-left: 24%;
}
.imgThick{
    display: block;
    background: url('../images/sprite.png') no-repeat -298px -1px;
	width: 23px;
	height: 23px;
    margin: 9px 9px;
}
.header_text{
    position: relative;
    display: inline-block;
    float: left;
    width: 60%;
    height: 75%;
    text-align: center;
    font-size: 1.3em;
    font-weight: 400;
    padding-top: 19px;
}
.tryit_button{
    display: inline-block;
    float: left;
    width: 27%;
    height: 100%;
	text-decoration: none !important;
}
.tryIt{
    display: inline-block;
    position: relative;
    width: 70%;
    height: 35px;
    top: 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffad0a;
    color: #fff;
    font-size: 0.9em !important;
	font-weight: bold !important;
    cursor: pointer;
	text-decoration: none !important;
}
/* ---------  Search list ---------*/
		#results_list{
            position: relative;
            z-index: 1;
        }
		#clubconcerts{
			position: absolute;
			top: 87px;
			width: 100%;
			z-index: 2;
			background-color: #fff;
			visibility: hidden;
		}
        #results_list,
		#clubconcerts{
            display: block;
            /* Firefox */
            height: -moz-calc(100% - 87px);
            /* WebKit */
            height: -webkit-calc(100% - 87px);
            /* Opera */
            height: -o-calc(100% - 87px);
            /* Standard */
            height: calc(100% - 87px);
            overflow-y: scroll;
			box-sizing: border-box !important;
			padding: 1% 0.5% !important;
			text-align: left;
        }
            #columnSearch
			#results_list
            .resultElement{
				position: relative;
				display: block;
                display: inline-block;
				width: 200px;
                height: 200px;
				background: #ffcd29;
				margin: 2% 2%;
				cursor: pointer;
            } 
			#columnSearch
			#clubconcerts
            .resultElement{
				position: relative;
				display: block;
                display: inline-block;
				width: 200px;
                height: 200px;
				background: #ffcd29;
				margin: 2% 1.5%;
				cursor: pointer;
            }
			.lenght{
				visibility: hidden;
				width: 0;
				height: 0;
				display: block;
				text-indent: 100%;
				white-space: nowrap;
				overflow: hidden;	
			}
			
			.elementCore_cover{
				position: relative;
				width: 100%;
				height: 100%;
				display: block;
				cursor: pointer;
			}
			.elementCore
			.when_element{
				position: absolute;
				top: 6px;
				right: 6px;
				display: block;
				width: auto;
				height: 40px;
				border-radius: 4px;
				background: #ffcd29;
				box-sizing: border-box;
				padding: 2px 12px;
				font-size: 1em !important;
				text-align: center !important;
			}
				.when_element
				.date_value{
					display: block;
					font-size: 1.2em "important";
					font-weight: 600;
				}
				.when_element
				.time_value{
					display: block;
					font-size: 1.0em !important;
					font-weight: 100;
				}
			.elementCore
			.where_element{
					position: absolute;
					display: block;
					top: 52px;
					right: 6px;
					width: auto;
					height: 20px;
					border-radius: 4px;
					background: #ffbb33;
					box-sizing: border-box;
					padding: 1px 12px;
					font-size: 1em !important;
					text-align: center !important;
					color: #fff;
			}
			.elementCore
			.where_element
			.where_element_value{
				display: block;
				font-size: 1.0em !important;
				font-weight: 400;
			}
            .elementCore
            .price_element{
                position: absolute;
                display: block;
                width: 50px;
                height: 25px;
                background-color: #8ab800;
                bottom: 50px;
                right: 0;
                cursor: pointer;
            }
            .elementCore
            .hide{
                display: none;    
            }
            .elementCore
            .price_element
            .price_element_value{
                position: absolute;
                display: block;
                right: 22px;
                top: 2px;
                font-size: 1.2em;
            }
            .elementCore
            .price_element
            .price_tag{
                position: absolute;
                display: block;
                right: 4px;
                top: 4px;
                font-size: 0.9em;
                font-weight: 100;
            }
				.elementCore
				.share_button{
					position: absolute;
					z-index: 99999999;
					bottom: 0px;
					right: 0px;
					display: inline-block;
					width: 50px;
					height: 50px;
					background: #ffcd29;
					cursor: pointer;
				}
				.elementCore
				.share_button:hover{
					background: #FFD447;
				}
				.share_icon{
					display: block;
					background: url('../images/sprite.png') no-repeat -10px -18px;
					width: 18px;
					height: 16px;
					margin: 18px 16px;
					text-indent: 100%;
					white-space: nowrap;
					overflow: hidden;
				}
				.elementCore
				#event_name{
					display: inline-block;
					position: absolute;
					background-color: rgba(0, 0, 0, 0.8);
					bottom: 0px;
					left: 0px;
					width: 100%;
					height: 50px;
					box-sizing: border-box;
					padding-left: 8px;
					padding-right: 55px;
					padding-top: 5px;
					color: #fff;
					font-size: 1.1em;
					overflow: auto;
					text-align: left;
					cursor: default;
				}
    #columnMap{
        width: 40%;
        height: 100%;
        float: left;
    }
    
        #columnMap
        .countOwerMap{
            display: block;
            height: 27px;
            background-color: #ffc95c;
            text-align: center;
        }
        
            #columnMap
            .countOwerMap
            .slim{
                padding-top: 2px;
                font-size: 16px;
                display: inline-block;
            }
            #columnMap
            .countOwerMap
            .fb-login-button{
                position: absolute;
                margin-left: 10%;
                display: inline-block;
                float: right;
                padding-top: 2px;
            }
                #columnMap
                .countOwerMap
                .bold{
                    font-size: 14px;
                }
        
        #columnMap
        #map{
            width: 100%;
            /* Firefox */
            height: -moz-(100% - 27px);
            /* WebKit */
            height: -webkit-calc(100% - 27px);
            /* Opera */
            height: -o-calc(100% - 27px);
            /* Standard */
            height: calc(100% - 27px);
            min-height: 475px;
            display: block;
        }
.banner_text{
    position: absolute;
    bottom: 12px;
    right: 180px;
    width: 130px;
    height: 38px;
    background: #ffbb33;
    border-radius: 4px;
    text-align: center;
    font-size: 1em !important;
    font-weight: 100;
    padding-top: 4px;
}
.google_badge{
    position: absolute;
    background-size: cover;
    width: 160px;
    height: auto;
    bottom: 6px;
    right: 8px;
}
.google{
    width: 160px;
    height: auto;
}
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #ffbb33;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/* ------------- Bar header banner ---------- */ 
.bar_detail{
	display: block;
	width: 100%;
	height: 60px;
	background: #f6f4f4;
	border-radius: 4px;
	box-sizing: border-box;
	padding-left: 2%;
}
.detail_text{
	display: inline-block;
	/* Firefox */
	width: -moz-calc(100% - 60px);
	/* WebKit */
	width: -webkit-calc(100% - 60px);
	/* Opera */
	width: -o-calc(100% - 60px);
	/* Standard */
	width: calc(100% - 60px);
	color: #adadad;
	font-size: 2em;
	margin-top: 12px;
}
.send_message{
	display: inline-block;
	float: right;
	width: 60px;
	height: 60px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	background: #ffcd29;
}
.send_message_icon{
	display: block;
	background: url('../images/sprite.png') no-repeat -336px -1px;
	width: 20px;
	height: 12px;
	margin: 25px 20px;
}
/* ------------ RESPONSIVITY ------------ */
@media (min-width: 1603px) {
	#columnSearch{
		width: 963px;
	}
	#columnMap{
		/* Firefox */
		width: -moz-calc(100% - 963px);
		/* WebKit */
		width: -webkit-calc(100% - 963px);
		/* Opera */
		width: -o-calc(100% - 963px);
		/* Standard */
		width: calc(100% - 963px);
	}
}
@media (min-width: 1050px) and (max-width: 1602px)  {
	#columnSearch{
		width: 690px;
	}	
	#columnMap{
		/* Firefox */
		width: -moz-calc(100% - 690px);
		/* WebKit */
		width: -webkit-calc(100% - 690px);
		/* Opera */
		width: -o-calc(100% - 690px);
		/* Standard */
		width: calc(100% - 690px);
	}
	.categoryImg{
		width: 300px;
		height: 180px;
		background: transparent;
	}
	.category_img{
		width: 300px;
		height: auto;
	}
	.categoryCounter{
		bottom: 0px;
	}
	.detail_text{
		font-size: 1.4em;
		margin-top: 18px;
	}
}
@media (min-width: 760px) and (max-width: 1049px)  {
	#columnSearch{
		width: 449px;
	}	
	#columnMap{
		/* Firefox */
		width: -moz-calc(100% - 449px);
		/* WebKit */
		width: -webkit-calc(100% - 449px);
		/* Opera */
		width: -o-calc(100% - 449px);
		/* Standard */
		width: calc(100% - 449px);
	}
	.detail_text{
		font-size: 1.2em;
		margin-top: 20px;
	}
}
@media (max-width: 1049px) {
    #close{
        display: none !important;
    }
    .imgClose{
        display: none;
    }
	.category_card{
        width: 100%;
    }
	.thick{
        display: none;
    }
	.header_text{
        width: 70%;
        height: 72%;
        padding-top: 22px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1em !important;
		text-decoration: none !important;
    }
	.tryit_button{
        width: 24%;
    }
    .tryIt{
        font-size: 0.8em !important; 
    }
}
@media (max-width: 759px) {
	#columnSearch{
		width: 100%;
	}	
	#columnMap{
		display: none;
	}
	#results_list{
		text-align: center;
	}
}
@media (max-width: 690px) {
	.resultElement{
		margin: 5% !important;
	}
	.detail_text{
		font-size: 1.2em;
		margin-top: 20px;
	}
}
@media(max-width: 505px){
	#columnSearch
	#results_list
	.resultElement{
		width: 150px;
		height: 150px;
		margin: 4% !important;
	}
	#columnSearch
	.containerForm
	.firstRow
	.company{
		width: 50%;
		margin: 0 !important;
		box-sizing: border-box;
		padding: 2px 10px;
	}
	#columnSearch
	.containerForm
	.firstRow
	.language_selector{
		width: 10%;
		box-sizing: border-box;
		padding-left: 10%; 
	}
	#columnSearch
	.containerForm
	.firstRow
	.tellContainer{
		width: 40%;
		display: inline-block;
		float: right;
		box-sizing: border-box;
		padding-left: 10%;
	}
	.header_text{
		font-size: 0.9em !important;
	}
	#event_name{
		font-size: 0.9em !important;
	}
}
@media(max-width: 363px){
	#columnSearch
	#results_list
	.resultElement{
		margin: 1% !important;
	}
	.header_text{
		display: block;
		width: 100%;
		height: 70%;
		box-sizing: border-box;
		padding-top: 10px;
		font-size: 1em !important;
	}
	.tryit_button{
		display: block;
		width: 100%;
		height: 30%;
		
	}
	.tryIt{
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		text-decoration: none !important;
		font-size: 1em !important;
	}
}
/*
==============================================
pullDown
==============================================
*/
.pullDown{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;	
	-moz-animation-name: pullDown;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	
	-moz-animation-timing-function: ease-out;	

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%; 	
	-moz-transform-origin: 0% 0%; 	
	visibility: visible !important;
}

@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}
@-moz-keyframes pullDown {
	0% {
		-moz-transform: scaleY(0.1);
	}
	40% {
		-moz-transform: scaleY(1.02);
	}
	60% {
		-moz-transform: scaleY(0.98);
	}
	80% {
		-moz-transform: scaleY(1.01);
	}
	100% {
		-moz-transform: scaleY(0.98);
	}				
	80% {
		-moz-transform: scaleY(1.01);
	}
	100% {
		-moz-transform: scaleY(1);
	}		
}
/*
==============================================
pullUp
==============================================
*/

.pullUp{
	animation-name: pullUp;
	-webkit-animation-name: pullUp;	
	-moz-animation-name: pullUp;	

	animation-duration: 0.5s;	
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	
	-moz-animation-timing-function: ease-out;	

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	visibility: visible !important;
}

@keyframes pullUp {
	0% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(0);
	}							
}

@-webkit-keyframes pullUp {
	0% {
		-webkit-transform: scaleY(1);
	}
	100% {
		-webkit-transform: scaleY(0);
	}	
}
@-moz-keyframes pullUp {
	0% {
		-moz-transform: scaleY(1);
	}
	100% {
		-moz-transform: scaleY(0);
	}	
}
/* ------------ Autocomplete ------------ */
/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-autocomplete {
	position: absolute;
	z-index: 100000;
	top: 0;
	left: 0;
	cursor: default;
}
.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}
.ui-menu .ui-menu {
	position: absolute;
}
.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0; /* support: IE7 */
	/* support: IE10, see #8844 */
	list-style-image: none;
}
.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	margin: -1px;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item {
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .2em;
	margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	left: auto;
	right: 0;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1em;
}
.ui-widget-content {
	border-bottom: 2px solid #f5f5f5;
	background: #fff;
	color: #8998a5s;
}
.ui-widget-content a {
	color: #333333;
}
.ui-widget-header {
	border: 1px solid #e78f08;
	background: #f6a828;
	color: #ffffff;
	font-weight: bold;
}
.ui-widget-header a {
	color: #ffffff;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #cccccc;
	background: #fff;
	font-weight: bold;
	color: #fff;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #fff;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #fbcb09;
	background: #ffc95c;
	font-weight: bold;
	color: #fff;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #fff;
	text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	border: none;
	background: #ffc95c;
	font-weight: bold;
	color: #fff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
	color: #fff;
	text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: none;
	background: #ffc95c;
	color: #fff;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #fff;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #b81900;
	color: #ffffff;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #ffffff;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #ffffff;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70); /* support: IE8 */
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35); /* support: IE8 */
	background-image: none;
}
.ui-state-disabled .ui-icon {
	filter:Alpha(Opacity=35); /* support: IE8 - See #6059 */
}