@import "normalize";
@import "reset";
@import "jquery.mCustomScrollbar";

/*
** VARIABLES
******************/
$topmenu_height: 30px;
$menubar_width: 45px;
$sidebar_width: 300px;
$color_orangeLighter: #ffc95c;
$color_orangeDarker: #ffbb33;
$color_background: #ffffff;
//$color_splitter: #dddddd;
$color_splitter: #EEE; // orig

$color_label_incomplete: #f55047;
$color_label_complete: #ffbb33;
$color_label_open: #667a8f;

$color_label_incomplete_light: #f9908b;
$color_label_complete_light: #ffcf70;
$color_label_open_light: #8898aa;

$color_font_Darker: #4e5f6f;
$color_font_Lighter: #667a8f;
$color_font_Disabled: #b7c2cc;

/*
** MAIN 
*****************************/
html, body { height: 100%; }

body {
	background: $color_background;
	font-family: 'Roboto', sans-serif;
	font-weight: 100px;
}
body.login { 
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffcf70+0,ffc95c+14,ffc95c+35,ffbb33+67,ffb41f+93,ffb41f+100 */
    background: $color_orangeLighter; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #ffcf70 0%, #ffc95c 14%, #ffc95c 35%, #ffbb33 67%, #ffb41f 93%, #ffb41f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffcf70), color-stop(14%,#ffc95c), color-stop(35%,#ffc95c), color-stop(67%,#ffbb33), color-stop(93%,#ffb41f), color-stop(100%,#ffb41f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #ffcf70 0%,#ffc95c 14%,#ffc95c 35%,#ffbb33 67%,#ffb41f 93%,#ffb41f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #ffcf70 0%,#ffc95c 14%,#ffc95c 35%,#ffbb33 67%,#ffb41f 93%,#ffb41f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #ffcf70 0%,#ffc95c 14%,#ffc95c 35%,#ffbb33 67%,#ffb41f 93%,#ffb41f 100%); /* IE10+ */
    background: linear-gradient(45deg,  #ffcf70 0%,#ffc95c 14%,#ffc95c 35%,#ffbb33 67%,#ffb41f 93%,#ffb41f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcf70', endColorstr='#ffb41f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/*
* LOGIN
***********************/

div#loginBox {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -310px 0 0 -150px;
	width: 300px;
	height: 419px;
	background: transparent;
    
    .header {
        text-align: center;
        
            .header_img {
                width: 100%;
            }
    }

	.loginBox-area {
		position: relative;
        
        .login_venue_img {
            width: 80px;
            height: 80px;
            border-radius: 90px;
            border: 4px solid #ffdd99;
            margin: 50px 0px 80px 105px;
            
            .venue_img {
                border-radius: 90px;
                width: 80px;
                height: 80px;
            }
            
                h2 {
                clear: both;
                text-align: center;
                margin-top: 10px;
                color: #fff;
                font-weight: 100px;
		      }
        }
		
		label {
			display: block;
			margin: 0 30px 15px 30px;
			height: 40px;
			line-height: 40px;
			color: #fff;
			vertical-align: middle;
			font-size: 0.917em;

			input[type="text"],
			input[type="password"] {
				border: none;
				border-radius: 3px;
				height: 38px;
				width: 210px;
				color: #777c80;
				padding: 0 14px;
			}
		}


		input[type="submit"] {
			width: 240px;
			height: 38px;
			border-radius: 3px;
            border: none;
			background: $color_orangeDarker;
            margin: 0 30px 15px 30px;
			position: absolute;
			color: #fff;
			cursor: pointer;
		}
	}
}

div#bottom_bar {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background: #FFB41F;
    text-align: center;
        
        h2 {
            line-height: 40px;
            color: #fff;
            font-weight: lighter;
            display: inline-block;
        }
    
        .send_invitation {
                display: inline-block;
                width: 400px;
                margin-left: 40px;
            
            label {
                
                    input[type="text"] {
                        height: 25px;
                        width: 300px;
                        background: #fff;
                        border: none;
                        border-radius: 3px;
                        padding-left: 10px;
                        font-size: 0.8em;
                    }
            }
            
            input[type="submit"] {
                width: 35px;
                height: 100%;
                background: transparent url('../images/spritesheet.png') no-repeat -206px 8px;
                border: none;
                margin-left: 20px;
                
            }
        }
}
@media (max-width: 800px) {
    div#bottom_bar {
        visibility: hidden;
    }
    .header {
        visibility: hidden;   
    }
}

/*
** GLOBAL CLASSES & DECLARATIONS
**********************************/
a {
	text-decoration: none;
	
	img {
		border: 0;
	}
}
.fix { clear: both; }

div#container {
	width: 100%;
	height: 0px;
    border-spacing: 0px;
    border-collapse: separate;
	overflow: hidden;
	
	/*
	** BODY COLUMNS
	*****************************/
	section {
		position: relative;
		float: left;
		vertical-align: top;
		
		/*
		** MAIN PANEL
		*****************************/
		&#mainPanel {
			background: $color_orangeDarker;
			width: $menubar_width;
			height: 100%;
			
			a#profilePhoto {
				margin-top: 0px;
				display: block;
				height: $menubar_width;
				width: $menubar_width;
				
				img {
					width: $menubar_width;
					height: $menubar_width;
				}
			}
			
			ul#menuButtons {
				width: $menubar_width;
				margin-top: 45px;
				
				li {
					width: $menubar_width;
					height: $menubar_width;
					
					a {
						display: block;
						width: $menubar_width;
						height: $menubar_width;
						line-height: $menubar_width;
						text-align: center;
                        
                        
						i {
							background: url('../images/spritesheet.png') no-repeat; 
							display: inline-block;
							vertical-align: middle;
						}
					}
					
					&.menuButton-messages {
						a {
							i {
								background-position: -22px 0px;
								width: 32px;
								height: 20px;
							}
						}
					}
					
					&.menuButton-calendar {
						a {
							i {
								background-position: -2px 0px;
								width: 21px;
								height: 20px;
							}
						}
					}
					
					&:hover {
						background: $color_orangeLighter;
					}
				}
			}
			

			
			a.settings-icon {
				position: absolute;
				display: block;
				width: $menubar_width;
				height: $menubar_width;
				line-height: $menubar_width;
				bottom: 0;
				text-align: center;
				
				i {
					background: url('../images/spritesheet.png') -54px 0 no-repeat;
					display: inline-block;
					vertical-align: middle;
					width: 21px;
					height: 20px;
				}
				
				&:hover {
					background-color: $color_orangeLighter;
				}
			}
		}
		
		/*
		** LIST PANEL
		*****************************/
		&#listPanel {
			width: $sidebar_width;
            height: 100%;
			overflow: hidden;
			border-right: 1px solid $color_splitter;
			
			/*
			** SEARCH PANEL
			*****************************/
			div#searchPanel {
				position: relative;
				width: $sidebar_width;
				height: ($topmenu_height - 1px);
				border-bottom: 1px solid $color_splitter;
				
				form {
					input#searchPanel-input {
						width: ($sidebar_width - 45px);
						padding: 0 35px 0 10px;
						height: ($topmenu_height - 1px);
						border: 0;
					}
					
					input#searchPanel-submit {
						background: url('../images/spritesheet.png') -76px 0 no-repeat;
						position: absolute;
						top: 50%;
						right: 5px;
						width: 21px;
						height: 20px;
						margin-top: -(20px/2);
						border: 0;
						cursor: pointer;
					}
				}
			}
			
			/*
			** EVENT LIST
			*****************************/
			$eventList_monthTitle_Height: 50px;
			$eventList_item_LeftRight_Margin: 3px;
			$eventList_LabelBorder_Width: 4px;
			$eventList_LabelBorder_PaddingContent: 17px;
			$eventList_item_Width: ($sidebar_width - $eventList_LabelBorder_Width - ($eventList_item_LeftRight_Margin));
			$eventList_item_Height: 52px;
			$eventList_item_TimeWidth: 50px;
			$eventList_item_Venueimg_Width: 60px;
			$eventList_circle_Venueimg_Width: 40px;
			$eventList_circle_Venueimg_Height: 40px;
			
			div#eventList {
				display: block;
				width: $sidebar_width;
				
				h1 {
					color: $color_orangeLighter;
					height: $eventList_monthTitle_Height;
					line-height: $eventList_monthTitle_Height;
					vertical-align: middle;
					text-align: left;
					padding-left: 16px;
				}
				
				
				a {
				
					&:first-child { margin-top: 16px; }
					&:last-child { margin-bottom: 16px; }
                    
					position: relative;
					display: block;
					width: $eventList_item_Width;
					height: $eventList_item_Height;
					margin: 0 0 10px $eventList_item_LeftRight_Margin;
                    border-top: 1px solid transparent;
                    border-bottom: 1px solid transparent;
					
					time {
						display: table-cell;
						width: $eventList_item_TimeWidth;
						height: $eventList_item_Height;
						vertical-align: middle;
						text-align: center;
						color: $color_font_Disabled;
					}
					
					h2 {
						left: $eventList_item_TimeWidth + $eventList_LabelBorder_Width + $eventList_LabelBorder_PaddingContent;
						top: 10px;
						position: absolute;
						display: inline-block;
						float: right;
						width: ($eventList_item_Width - $eventList_item_TimeWidth - $eventList_LabelBorder_Width - $eventList_LabelBorder_PaddingContent - $eventList_item_Venueimg_Width);
						font-size: 1.125em;
						color: $color_font_Darker;
					}
					
					span {
						position: absolute;
						left: $eventList_item_TimeWidth + $eventList_LabelBorder_Width + $eventList_LabelBorder_PaddingContent;
						top: 32px;
						float: right;
						width: ($eventList_item_Width - $eventList_item_TimeWidth - $eventList_LabelBorder_Width - $eventList_LabelBorder_PaddingContent - $eventList_item_Venueimg_Width);
						font-size: 0.75em;
						color: $color_font_Lighter;
					}
                    
                    .venueimg {
                        position: absolute;
                        top: 4px;
                        left: $eventList_item_Width - $eventList_item_Venueimg_Width;
                        display: block;
                        float: right;
                        width: ($eventList_circle_Venueimg_Width);                              
                        height: ($eventList_circle_Venueimg_Height);
                        border: 2px solid $color_orangeLighter;
                        border-radius: 90px;
                            img {
                                border-radius: 90px;
                                width: ($eventList_circle_Venueimg_Width);
                                height: ($eventList_circle_Venueimg_Height);
                            }
                        
                            &:hover {
                                background-color: $color_orangeLighter;
                                background-image: url('../images/spritesheet.png');
                                background-size: contain 26px 15px;
                                background-position: -198px 14px;
                                background-repeat: no-repeat;
                                
                                img {
                                    display: none !important;
                                }
                            }
                    }
                    
					&:hover {
						border-top: 1px solid $color_splitter;
						border-bottom: 1px solid $color_splitter;
					}
				}
			}
		}
		
		/*
		** CONTENT PANEL
		*****************************/
		$calendar_day_TimeWidth: 55px;
		
		&#contentPanel {
			overflow: hidden;
			width: auto;
			
			/*
			** CALENDAR
			*****************************/
			table.calendar {
				width: 100%;
				margin-top: 6px;
				
				tbody {
                    border: 1px solid transparent; 
                    
					td {
						width: 14.2857%;
						height: 102px;
						min-height: 102px;
						padding-bottom: 10px;
                        border-top: 1px solid transparent;
                        border-left: 1px solid transparent;
                        
						div {
							padding: 6px 0;
							
							time {
								cursor: default;
								display: block;
								width: $calendar_day_TimeWidth;
								text-align: center;
								color: $color_font_Lighter;
								font-size: 0.75em;
								margin-bottom: 8px;
							}
							
							a {
								display: block;
								color: $color_font_Darker;
								margin: 0 10px;
								font-size: 0.875em;
							}
						}
						
						&.calendar-day-outofrange {
							time {
								color: $color_font_Disabled;
							}
						}
						
						&.calendar-day-label-incomplete {
							div {
								box-shadow: inset 3px 0 0 $color_label_incomplete;
							}
						}
						
						&.calendar-day-label-complete {
							div {
								box-shadow: inset 3px 0 0 $color_label_complete;
							}
						}
						
						&.calendar-day-label-open {
							div {
								box-shadow: inset 3px 0 0 $color_label_open;
							}
						}
                        
                        &:hover {
                            border: 1px solid $color_splitter!important;
                        }
					}
				}
			}
		}
		
		
		/*
		** EVENT PANEL
		*****************************/
		$eventForm_inputBorderColor: #f6f4f4;
		$eventForm_inputBorderColorHover: #f55047;
		$eventForm_inputTextColor: #838e99;
		
		&#eventPanel {
			width: $sidebar_width;
            height: 100%;
            overflow: hidden;
			float: right;
			border-left: 1px solid $color_splitter;
			
			form {
				width: $sidebar_width;
				
				> div.eventForm-container {
					width: ($sidebar_width - 34px);
					margin: 0 auto;

					>label,
					>div {
						margin: 10px 0;
						display: block;
						width: 100%;
						font-size: 0.875em;
						color: $eventForm_inputTextColor;
					}

					>div {
						&.eventForm-role {
                            margin: 20px 0;
                            
							label {
                                padding-left: 19px;
                                margin: 10px 5px;
							}
						}
						&.eventForm-reward {
                            margin: 20px 0;
                                
							label {
                                margin: 10px 5px;
							}
						}
					}

					table.eventForm-itemSelect {
						width: 100%;
						border-spacing: 0;
						border-collapse: collapse;
						width: 100%;

						td.eventForm-subform-radioItemSelect {
							vertical-align: middle;
							padding: 0 6px;
							width: auto !important;
                        }

						td.eventForm-subform-buttonItemDelete {	
							vertical-align: middle;
							padding: 0 12px 0 15px;
							width: auto !important;
							text-align: center;

							a {
								font-size: 0.750em;
								color: $color_font_Lighter;
							}
						}

						td {
							input:not(:last-child) {
								margin-bottom: 2px;
							}

							a.add-button {
								color: $color_font_Darker;
								font-size: 0.750em;

								i {
									display: inline-block;
									width: 13px;
									margin: 0 3px;
									height: 15px;
									background: url('../images/spritesheet.png') -175px 0px no-repeat; 
								}
							}
						}
					}

					input[type="text"],
					input[type="password"],
					textarea {
						width: 100%;
						border: 0;
						font-size: 0.750em;
						padding: 2px;
						border-bottom: 1px solid $eventForm_inputBorderColor;
					}

					input[type="text"]:focus,
					input[type="password"]:focus,
					textarea:focus {
						border-bottom-color: $eventForm_inputBorderColorHover;
					}
					
					div.eventForm-labelButtons {
                        padding-top: 40px;
                        float: left;
                        width: 300px;
                        height: 10px;

						a {
                            width: 100px;
                            float: left;
                            height: inherit;
                            font-size: 0.750em;
                            line-height: 1.8;
                            text-align: center;
                            color: $color_font_Lighter;
                            margin: 15px 0;
                            
                           i { 
                               display: inline-block;
                               float: left;
                               
                                &.eventForm-labelButtons-label-open {
                                    border-top: 3px solid $color_label_open_light;
                                    width: 65px;
                                }

                                &.eventForm-labelButtons-label-complete {
                                    border-top: 3px solid $color_label_complete_light;
                                    width: 65px;
                                }
                            
                                &.eventForm-labelButtons-label-incomplete {
                                    border-top: 3px solid $color_label_incomplete_light;
                                    width: 65px;
                                }
                           }
                            
				            &:hover {
                                
                                i{
                                        &.eventForm-labelButtons-label-open {                                                                             border-top: 3px solid $color_label_open;
                                            transform: scale(1.1, 1.1);
                                            -ms-transform: scale(1.1, 1.1);
                                            -webkit-transform: scale(1.1, 1.1);
                                        }

                                        &.eventForm-labelButtons-label-complete {
                                           border-top: 3px solid $color_label_complete;
                                           transform: scale(1.1, 1.1);
                                            -ms-transform: scale(1.1, 1.1);
                                            -webkit-transform: scale(1.1, 1.1);
                                        }

                                        &.eventForm-labelButtons-label-incomplete {
                                            border-top: 3px solid $color_label_incomplete;
                                            transform: scale(1.1, 1.1);
                                            -ms-transform: scale(1.1, 1.1);
                                            -webkit-transform: scale(1.1, 1.1);
                                        }
							     }
                            }
                            
                            &:visited {
                                
                                i{
                                        &.eventForm-labelButtons-label-open {                                                                             border-top: 3px solid $color_label_open;
                                            transform: scale(1.1, 1.1);
                                            -ms-transform: scale(1.1, 1.1);
                                            -webkit-transform: scale(1.1, 1.1);
                                        }

                                        &.eventForm-labelButtons-label-complete {
                                           border-top: 3px solid $color_label_complete;
                                           transform: scale(1.1, 1.1);
                                            -ms-transform: scale(1.1, 1.1);
                                            -webkit-transform: scale(1.1, 1.1);
                                        }

                                        &.eventForm-labelButtons-label-incomplete {
                                            border-top: 3px solid $color_label_incomplete;
                                            transform: scale(1.1, 1.1);
                                            -ms-transform: scale(1.1, 1.1);
                                            -webkit-transform: scale(1.1, 1.1);
                                        }
							     }
                            }
						}
					}
				}

				div.eventForm-actionButtons {
					position: absolute;
                    bottom: 0px;
                    width: 300px;
                    height: 30px;
					a {
                        float: left;
						width: 100px;
                        height: $topmenu_height;
						font-size: 0.750em;
						text-align: center;
						color: $color_orangeDarker;
                        background: $color_orangeDarker;

						i {
							display: inline-block;
							margin: 0 auto;
							width: 21px;
							height: 22px;
							background: url('../images/spritesheet.png') no-repeat;
							
							&.eventForm-actionButtons-icon-accept {
								background-position: -112px 4px;
							}
							
							&.eventForm-actionButtons-icon-reject {
								background-position: -96px 4px;
                                width: 17px;
							}
							
							&.eventForm-actionButtons-icon-bin {
								background-position: -130px 4px;
                                width: 17px;
							}
						}
					
						&:hover {
							color: $color_orangeLighter;
							background: $color_orangeLighter;
						
							i {
								&.eventForm-actionButtons-icon-accept {
								    background-position: -112px 4px;
								}

								&.eventForm-actionButtons-icon-reject {
									background-position: -96px 4px;
                                    width: 17px;
								}

								&.eventForm-actionButtons-icon-bin {
									background-position: -130px 4px;
                                    width: 17px;
								}
							}
						}
					}
				}
			}
		}
		
		
		&#contentPanel, &#eventPanel {
			/*
			** TITLE PANEL
			*****************************/
            div.titlePanel-sm {
				width: 100%;
				display: inline-block;
                height: $topmenu_height;
                line-height: $topmenu_height;
                background-color: $color_orangeDarker;
                text-align: center;
                vertical-align: middle;
                font-size: 0.875em;
                color: #fff;
                font-weight: 500;
            }
            
            .venue_name {
                cursor: default;
            }
            
			div.titlePanel {
				width: 100%;
				display: inline-block;
                background-color: $color_orangeDarker;
                text-align: center;
				
				b {
					font-weight: 700;
				}
                
                .titlePanel-button {
                    width: 100%;
                    height: $topmenu_height;
                    line-height: $topmenu_height;
                    background-color: $color_orangeDarker;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 0.875em;
                    color: #fff;
                    font-weight: 500;
                    display: inline-block;
                }
                
                .titlePanel-program-month {
                    color: #fff;
                    margin-left: 40px;
                    margin-right: 40px;
                    cursor: default;
                }
                
                .titlePanel-preview {
                    background: url('../images/spritesheet.png') -147px 5px no-repeat;
                    position: absolute;
                    width: 14px;
                    height: $topmenu_height;
                    float: left;
                    cursor: pointer;
                }
                
                .titlePanel-next {
                    background: url('../images/spritesheet.png') -161px 5px no-repeat;
                    position: absolute;
                    width: 14px;
                    height: $topmenu_height;
                    float: right;
                    cursor: pointer;
                }
			}
		
			/*
			** BUTTON PANEL
			*****************************/
			ul.buttonPanel {
				width: 100%;
				display: table;
				height: $topmenu_height;
				
				li {
					display: table-cell;
					height: $topmenu_height;
					width: 33.33%;
					
					a {
						display: block;
						height: $topmenu_height;
						line-height: $topmenu_height;
						vertical-align: middle;
						text-align: center;
						color: #ffffff;
						font-size: 0.875em;
						background-color: $color_orangeLighter;
						
						&:hover {
							background-color: $color_orangeDarker;
						}
					}
					
					&.buttonPanel-item-active {
						a {
							background-color: $color_orangeDarker !important;
						}
					}
				}
			}
		}
		
		&#programContent {
			width: 640px;
			height: 100%;
			
			div.programContentSearchFormWrapper {
				width: 592px;
				text-align: center;
				padding: 0 24px;
				margin-top: 20px;
			
				table.programContentSearchForm {
					width: 100%;
					padding: 0 24px;
				
					thead th {
						color: $color_font_Darker;
						text-align: left;
						font-size: 0.875em;
					}
					
					tbody tr > td {
						input[type="text"],
						input[type="password"],
						select,
						textarea {
							width: 100%;
							border: 0;
							font-size: 0.750em;
							padding: 2px;
							border-bottom: 1px solid #b8c2cc;
						}
						
						input[type="text"]:focus,
						input[type="password"]:focus,
						select:focus,
						textarea:focus {
							border-bottom-color: $eventForm_inputBorderColorHover;
						}
						
						&:not(:last-child) {
							padding-right: 25px;
						}
					}
				}
			}
			
			div.programContentTableRow {
				width: 100%;
                height: 40px;
                margin: 10px 0;
				
				> div {
					float: left;
                    font-size: 	0.875em;
                    height: 40px;
                    line-height: 40px;
                    vertical-align: middle;
				}
                
                &-event {
                    height: 70px !important;
                    
                    > div {
                        height: 70px !important;
                        line-height: 70px !important;
                    }
                }
                
                &-startGroup {
                    border-top: 1px solid $color_splitter;
                }
                
                &-endGroup {
                    border-bottom: 1px solid $color_splitter;
                }
				
				div.programContentTableRow-column-order {
					width: 35px;
					text-align: center;
                    color: $color_font_Disabled;
				}
				
				div.programContentTableRow-column-venue-info {
                    position: relative;
					width: 230px;
				
                    div.programContentTableRow-column-venue-info-name {
                        position: absolute;
                        width: 230px;
                        top: -10px;
                    }
				
                    div.programContentTableRow-column-vanue-info-info {
                        position: absolute;
                        width: 230px;
                        top: 10px;
                    }
                }
				
				div.programContentTableRow-column-venue-photo {
					width: 115px;
					text-align: center;
                    
                    img {
                        display: inline-block;
                        width: 80px;
                        height: 50px;
                        vertical-align: middle;
                    }
				}
				
				div.programContentTableRow-column-venue-name {
					width: 230px;
					text-align: left;
                    color: $color_font_Darker;
                    font-size: 	1.125em;
				}
				
				div.programContentTableRow-column-venue-address {
					width: 280px;
					text-align: left;
                    font-size: 	0.750em !important;
                    color: $color_font_Lighter;
				}
				
				div.programContentTableRow-column-venue-genre {
					width: 200px;
					text-align: left;
                    font-size: 	0.750em !important;
                    color: $color_font_Lighter;
				}
				
				div.programContentTableRow-column-actions {
					width: 67px;
					text-align: center;
                    
                    a {
                        font-size: 0.1em;
                    }
                    
                    a.programContentTableRow-icon-calendar {
                        display: block;
                        margin-top: 23px;
                        margin-left: 23px;
                        width: 20px;
                        height: 20px;
                        background: url('../images/spritesheet.png') -281px 0 no-repeat;
                    }
                    
                    a.programContentTableRow-icon-eye {
                        display: block;
                        margin-top: 10px;
                        margin-left: 24px;
                        width: 19px;
                        height: 20px;
                        background: url('../images/spritesheet.png') -260px 0 no-repeat;
                        
                        &.programContentTableRow-icon-eye-disabled {
                            background-position: -303px 0 !important;
                        }
                    }
				}
			}
		}
		
		&#programMap {
			width: 40%;
			float: right;
			background: #777;
			height: 100%;
		}
	}
}

/*
** POPUP WRAPPER
*****************************/
$popup_width: 728px;
$popup_height: 444px;
$popup_header_height: 30px;
$popup_messageSend_height: 40px;
$popup_conversation_friendListWidth: 250px;
div.popupWraper {
    width: $popup_width;
    height: $popup_height;
    
    div.fancybox-skin {
        border-radius: 0 !important;
        border: 1px solid #CFCED4 !important;
        box-shadow: none !important;
        background: #fff;
        position: relative;
    }
    
    .popup-content {
        height: $popup_height;
        width: $popup_width;
    }
    
    /*
    ** POPUP HEADER
    *****************************/
    div.popup-header {
        width: $popup_width;
        height: $popup_header_height;
        background: $color_orangeDarker;
        position: relative;
        
        > span.popup-header-title,
        > span.popup-header-titleMiddle,
        > a.popup-header-closeBtn {
            display: block;
            height: $popup_header_height;
            line-height: $popup_header_height;
            vertical-align: middle;
            color: #ffffff;
            font-size: 0.750em;
        }
        
        > span.popup-header-title {
            padding: 0 10px;
        }
        
        > span.popup-header-titleMiddle {
            position: absolute;
            width: $popup_width;
            top: 0;
            left: 0;
            padding: 0;
            text-align: center;
        }
        
        > a.popup-header-closeBtn {
            position: absolute;
            top: ($popup_header_height / 2) - (13px / 2);
            right: 10px;
            cursor: pointer;
            display: block;
            padding: 0;
            width: 13px;
            height: 13px;
            background-color: $color_orangeLighter;
            border-radius: 90px;
            
            &:hover {
                background: $color_label_incomplete;
            }
        }
    }
    
    /*
    ** POPUP CONVERSATION
    *****************************/
    div.popup-conversation-messageList {
        height: $popup_height - $popup_messageSend_height - 1px;
        margin-top: 1px;
        width: $popup_width - $popup_conversation_friendListWidth;
    }
    
    div.popup-conversation-sendMessage {
        position: absolute;
        bottom: 0px;
        height: $popup_messageSend_height - 1px;
        width: $popup_width - $popup_conversation_friendListWidth;
        border-top: 1px solid $color_splitter;
        
        form {
            position: relative;
            width: $popup_width - $popup_conversation_friendListWidth;
            height: $popup_messageSend_height - 1px;
            
            input[type="text"] {
                width: $popup_width - $popup_conversation_friendListWidth - 30px;
                height: $popup_messageSend_height - 1px;
                padding: 0 15px;
                border: 0;
            }
            
            input[type="submit"] {
				background: transparent url('../images/spritesheet.png') -254px 12px no-repeat;
				position: absolute;
				width: 29px;
				height: $popup_messageSend_height - 1px;
                right: 10px;
                top: 0;
				border: 0;
            
            &:hover {
            background: transparent url('../images/spritesheet.png') -306px 12px no-repeat;    
            }
            }
        }
    }
    
    div.popup-conversation-messageList-message {
        margin: 8px 10px;
        width: 360px;
        min-height: 40px;
        
        > .popup-conversation-messageList-message-avatar {
            img {
                border-radius: 90px;
                width: 36px;
                height: 36px;
            }
        }
        
        > .popup-conversation-messageList-message-text {
            font-size: 0.875em;
            color: #fff;
            padding: 5px 10px;
        }
        
        &-local {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            background: $color_orangeLighter;
            float: right;
            
            > .popup-conversation-messageList-message-text {
                padding-right: 50px;
            }
            
            > .popup-conversation-messageList-message-avatar {
                img {
                    float: right;
                    margin: 2px 2px 0 0;
                }
            }
        }
        
        &-remote {
            float: left;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            background: $color_orangeDarker;
            
            > .popup-conversation-messageList-message-text {
                padding-left: 50px;
            }
            
            > .popup-conversation-messageList-message-avatar {
                img {
                    float: left;
                    margin: 2px 0 0 2px;
                }
            }
        }
    }
    
    div.popup-conversation-peopleList {
        float: right;
        width: $popup_conversation_friendListWidth - 1px;
        border-left: 1px solid $color_splitter;
        height: 100%;
        
        ul {
            li {
                //margin: 10px 0;
                
                a {
                    display: block;
                    height: 40px;
                    padding: 4px 0;
                    border-top: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                    
                    span.popup-conversation-peopleList-avatar {
                        margin: 0 15px;
                        display: inline-block;
                        width: 36px;
                        height: 36px;
                        position: relative;
                        border-radius: 90px;
                        border: 2px solid $color_orangeDarker;
                        float: left;

                        img {
                            border-radius: 90px;
                            max-width: 36px;
                            max-height: 36px;
                        }
                    }

                    span.popup-conversation-peopleList-name {
                        display: inline-block;
                        float: left;
                        width: 160px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 40px;
                        line-height: 40px;
                        vertical-align: middle;
                        color: $color_font_Darker;
                    }
                    
                    span.popup-conversation-peopleList-name-invite {
                        display: inline-block;
                        float: center;
                        width: 160px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 40px;
                        font-size: 20px;
                        line-height: 40px;
                        vertical-align: middle;
                        color: $color_font_Darker;
                    }
                    
                    &:hover {
                        border-top: 1px solid $color_splitter;
                        border-bottom: 1px solid $color_splitter;
                    }
                }
            }
        }
    }
    
    /*
    ** POPUP CALENDAR
    *****************************/
    $popupCalendar_day_TimeWidth: 35px;
    
    table.popup-calendar {
        width: $popup_width;
        height: $popup_height - $popup_header_height;
        
        tbody {
            tr {
                td {
                    width: ($popup_width / 7);
                    height: ($popup_height - $popup_header_height) / 6;
					
                    a {
                        display: block;
                        color: $color_font_Darker;
                        width: ($popup_width / 7) - (5px * 2) - (3px * 2);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 2px 5px;
						padding: 1px 3px;
						font-size: 0.875em;
						border-radius: 3px;
						
						&.popup-calendar-label-incomplete {
							background: $color_label_incomplete;
							color: #ffffff;
						}
						
						&.popup-calendar-label-complete {
							background: $color_label_complete;
							color: #ffffff;
						}
						
						&.popup-calendar-label-open {
							background: $color_label_open;
							color: #ffffff;
						}
                    }
                    
                    time {
                        cursor: default;
                        display: block;
                        width: $popupCalendar_day_TimeWidth;
                        text-align: center;
                        color: $color_font_Disabled;
                        font-size: 0.75em;
                        margin-bottom: 8px;
                    }
                    
                    &:not(:last-child) {
                        border-right: 1px solid $color_splitter;
						width: ($popup_width / 7) - 1px;

						a {
							width: ($popup_width / 7) - (5px * 2) - (3px * 2) - 1px !important;
						}
                    }
                }
                
                &:not(:last-child) {
                    border-bottom: 1px solid $color_splitter;
                }
            }
        }
    }
}

.fancybox-lock { 
	margin: 0 !important;
	overflow: hidden !important;
	
	.fancybox-overlay {
		overflow: hidden !important;
	}
}