@import "normalize";
@import "reset";
@import "jquery.mCustomScrollbar";

/*
** VARIABLES
******************/
$topmenu_height: 30px;
$menubar_width: 45px;
$sidebar_width: 300px;
$color_orangeLighter: #ffc95c;
$color_orangeDarker: #ffbb33;
$color_background: #ffffff;
$color_splitter: #999999;
//$color_splitter: #f5f4f4;

$color_label_incomplete: #f55047;
$color_label_complete: #ffc95c;
$color_label_open: #667a8f;

$color_font_Darker: #4e5f6f;
$color_font_Lighter: #667a8f;

/*
** MAIN 
*****************************/
html, body { height: 100%; }

body {
	background: $color_background;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

/*
** GLOBAL CLASSES & DECLARATIONS
**********************************/
a {
	text-decoration: none;
	
	img {
		border: 0;
	}
}
.fix { clear: both; }

div#container {
	display: table;
	width: 100%;
	height: 100%;
    border-spacing: 0px;
    border-collapse: separate;
	
	/*
	** BODY COLUMNS
	*****************************/
	section {
		position: relative;
		display: table-cell;
		vertical-align: top;
		
		/*
		** MAIN PANEL
		*****************************/
		&#mainPanel {
			background: $color_orangeDarker;
			width: $menubar_width;
			
			a#profilePhoto {
				margin-top: 6px;
				display: block;
				width: $menubar_width;
				height: $menubar_width;
				
				img {
					width: $menubar_width;
					height: $menubar_width;
				}
			}
			
			ul#menuButtons {
				width: $menubar_width;
				margin-top: 45px;
				
				li {
					width: $menubar_width;
					height: $menubar_width;
					
					a {
						display: block;
						width: $menubar_width;
						height: $menubar_width;
						line-height: $menubar_width;
						text-align: center;
						
						i {
							background: url('../images/spritesheet.png') no-repeat;
							display: inline-block;
							vertical-align: middle;
						}
					}
					
					&.menuButton-messages {
						a {
							i {
								background-position: 0px 0px;
								width: 33px;
								height: 20px;
							}
						}
					}
					
					&.menuButton-calendar {
						a {
							i {
								background-position: -34px 0px;
								width: 21px;
								height: 20px;
							}
						}
					}
					
					&.menuButton-venues {
						a {
							i {
								background-position: -56px 0px;
								width: 22px;
								height: 20px;
							}
						}
					}
					
					&:hover {
						background: $color_orangeLighter;
					}
				}
			}
			
			ul#quickSelection {
				width: $menubar_width;
				margin-top: 64px;
				
				li {
					width: ($menubar_width - (2 * 6px));
					height: ($menubar_width - (2 * 6px));
					padding: 6px 6px;
					margin-bottom: 15px;
					
					a {
						display: block;
						width: ($menubar_width - 14px );
						height: ($menubar_width - 14px );
						border: 2px solid $color_orangeLighter;
						border-radius: 90px;
						
						img {
							border-radius: 90px;
							width: ($menubar_width - 14px);
							height: ($menubar_width - 14px);
						}
					}
					
					&:hover {
						background-color: $color_orangeLighter;
					}
				}
			}
			
			a.settings-icon {
				position: absolute;
				display: block;
				width: $menubar_width;
				height: $menubar_width;
				line-height: $menubar_width;
				bottom: 0;
				text-align: center;
				
				i {
					background: url('../images/spritesheet.png') -79px 0 no-repeat;
					display: inline-block;
					vertical-align: middle;
					width: 21px;
					height: 20px;
				}
				
				&:hover {
					background-color: $color_orangeLighter;
				}
			}
		}
		
		/*
		** LIST PANEL
		*****************************/
		&#listPanel {
			width: $sidebar_width;
			height: 100%;
			overflow: hidden;
			
			/*
			** SEARCH PANEL
			*****************************/
			div#searchPanel {
				position: relative;
				width: $sidebar_width;
				height: ($topmenu_height - 1px);
				border-bottom: 1px solid $color_splitter;
				
				form {
					input#searchPanel-input {
						width: ($sidebar_width - 45px);
						padding: 0 35px 0 10px;
						height: ($topmenu_height - 1px);
						border: 0;
					}
					
					input#searchPanel-submit {
						background: url('../images/spritesheet.png') -100px 0 no-repeat;
						position: absolute;
						top: 50%;
						right: 5px;
						width: 21px;
						height: 20px;
						margin-top: -(20px/2);
						border: 0;
						cursor: pointer;
					}
				}
			}
			
			/*
			** EVENT LIST
			*****************************/
			$eventList_monthTitle_Height: 50px;
			$eventList_item_LeftRight_Margin: 3px;
			$eventList_LabelBorder_Width: 4px;
			$eventList_item_Width: ($sidebar_width - $eventList_LabelBorder_Width - ($eventList_item_LeftRight_Margin));
			$eventList_item_Height: 52px;
			$eventList_item_TimeWidth: 60px;
			
			div#eventList {
				display: table;
				width: $sidebar_width;
				padding: 16px 0;
				
				h1 {
					color: $color_orangeLighter;
					height: $eventList_monthTitle_Height;
					line-height: $eventList_monthTitle_Height;
					vertical-align: middle;
					text-align: center;
				}
				
				
				a {
					position: relative;
					display: block;
					width: $eventList_item_Width;
					height: $eventList_item_Height;
					margin: 0 0 10px $eventList_item_LeftRight_Margin;
					
					&.eventList-label-open {
						border-left: $eventList_LabelBorder_Width solid $color_label_open;
					}
					
					&.eventList-label-incomplete {
						border-left: $eventList_LabelBorder_Width solid $color_label_incomplete;
					}
					
					&.eventList-label-complete {
						border-left: $eventList_LabelBorder_Width solid $color_label_complete;
					}
					
					time {
						display: table-cell;
						width: $eventList_item_TimeWidth;
						height: $eventList_item_Height;
						vertical-align: middle;
						text-align: center;
						color: $color_font_Darker;
					}
					
					h2 {
						left: $eventList_item_TimeWidth;
						top: 10px;
						position: absolute;
						display: inline-block;
						float: right;
						width: ($eventList_item_Width - $eventList_item_TimeWidth);
						font-size: 1.125em;
						color: $color_font_Darker;
					}
					
					span {
						position: absolute;
						left: $eventList_item_TimeWidth;
						top: 32px;
						float: right;
						width: ($eventList_item_Width - $eventList_item_TimeWidth);
						font-size: 0.75em;
						color: $color_font_Lighter;
					}
										
					&:hover {
						background: $color_splitter;
					}
				}
			}
		}
		
		/*
		** CONTENT PANEL
		*****************************/
		&#contentPanel {
			width: auto;
			border-left: 1px solid $color_splitter;
			border-right: 1px solid $color_splitter;
		}
		
		
		/*
		** EVENT PANEL
		*****************************/
		&#eventPanel {
			width: $sidebar_width;
		}
	}
}